/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

*.sublime-workspace
.rvmrc

# yes, I use an ide
.idea/*

.DS_Store
