<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>What is the competition?</summary>
          <p>Charitable Heroes is a three-round competition. Each round of the competition requires the candidate to explore and communicate what they care about, why they care and how they plan to make a difference if empowered financially.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Why should I enter?</summary>
          <p>&#8226 Win charitable superpowers.</p>
          <p>&#8226 Learn more about what matters to you and how you can help.</p>
          <p>&#8226 Tell the world about your cause</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>How does it Work?</summary>
          <p>Each round of the competition requires the candidate to explore and communicate what they care about, why they care and how they plan to make a difference if empowered financially.</p>

          <p>The Founders of Charitable Heroes personally guarantee that the winner will be able to give away $300 each year for their rest of their lives. Each year Charitable Heroes colloborates with the competition winner to support a person, cause or organization with $300. </p>

           <p>Registration fees are used to cover operational and promotional expenses required to execute the competition. In the event that we surpass these expenses, excess revenue will result in a bigger annual financial award for our competition winner. The order of magnitude of this bigger financial award is determined by the number of entrants the competition finds, so we need your help! Applicant entry fees build a pool of money, if we attract enough entrants the annual award could be $50,000 annually - imagine the difference that person would make! It would create a real-life superhero. What would you do with that kind of power? Who would you help? Regardless, we are excited to empower one winner financially to a small degree, and to empower everyone else with a deeper knowledge of what matters to them, and how they can make a difference. For now, the grand prize is only $300 annually as a starting point.</p>

          <p>The selection process occurs throughout the course of the competition over three rounds. During each round a judge is assigned to CandidatesThe submission of the candidate is scored during each round on a scale of 0-100 and feedback is provided by the judge. Candidates are eliminated after each round and one winner is chosen.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>About the Registration Fees?</summary>
           <p>Charitable Heroes, L3C offers access to our tools and staff that make our educational competition happen in exchange for the registration fee. Registration fees are not donations. Charitable Heroes, L3C is not a non-profit and your registration fee is NOT tax deductible. 

           Registration fees are used to cover operational and promotional expenses required to execute the competition. In the event that we surpass these expenses, excess revenue will result in a bigger annual financial award for our competition winner. The order of magnitude of this bigger financial award is determined by the number of entrants the competition finds, so we need your help! Applicant entry fees build a pool of money, if we attract enough entrants the annual award could be $50,000 annually - imagine the difference that person would make! It would create a real-life superhero. What would you do with that kind of power? Who would you help? Regardless, we are excited to empower one winner financially to a small degree, and to empower everyone else with a deeper knowledge of what matters to them, and how they can make a difference. For now, the grand prize is only $300 annually as a starting point. </p>
         
        </details>
      </li>
      
      <li>
        <details class=''>
          <summary>What does each round look like?</summary>
          <b>Round One</b>
          <p>When it's time for round one, we will notify everyone via email to invite you to upload a two minute video to tell us who you are, where you're from, and about the person, cause or organization you would help if you had charitable superpowers.</p>
          
          <p>The Charitable Heroes Founders and Judges will individually review every video submitted. A maximum of 1000 entries will move on to round two.</p>
          <br/>
          <b>Round Two</b>
          <p>This round requires a deep dive into the cause, organization or person you desire to help. When it's time for round two, we will email a link to an online form with ten (10) questions. Our judges will invidividually review all submissions and score individauls. A maximum of 100 entrants will move onto round three.</p>
          <br/>
          <b>Round Three</b>
          <p>The final round will consists of interviews with our judges. Only one winner will be chosen to receive charitable superpowers.</p>
        </details>
      </li>
      
      <li class=''>
        <details class=''>
          <summary>What do I get if I win?</summary>
          <b>Your Superpowers</b>
          <p>Our competition awards one winner with "charitable superpowers" - which we define as: The ability to give away money every year, to any cause, person or ogranization where it creates a positive impact regardless of your personal financial status." One winner will have the ability to give away $300 every year for the rest of their lives.</p>
        </details>
      </li>

<li>
        <details class=''>
          <summary>How do you try to expand philanthropy?</summary>
          <p>Our competition winner can provide financial support (via gift, investment or purchase) to any entity type (public, private or hybrid). This is different from the traditional philanthropist using a donor advised fund. Today, many budding philanthropists look to start a donor advised fund but this limits how they can provide support. Today's challenges are often complicated and require a philanthropic approach which is more open-minded and unencumbered. 

          Our marketing is targeted towards youth leaders. We believe life-long empowerment through philanthropy is important for molding future leaders. Most philanthropists are older. We wanted to turn that on it's head and give one young adult a lifetime of financial power to make a difference.
          </p>
        </details>
      </li>

    </ul>
    <ul class='col2'>
      <li class=''>
        <details class=''>
          <summary class=''>Who are the judges?</summary>
          <p>We have secured six high quality judges to date. More information about each one is coming soon.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>Who are the founders?</summary>
          <p>The founders of the Charitable Heroes Competition are Mike Hurley, Matt Stelmaszek and the one-and-only Mark Spiegel. We will provide our back stories soon.</p>
        </details>
      </li>

      <li class=''>
        <details class=''>
          <summary class=''>Who are the sponsors?</summary>
          <p>We have been fortunate to have sponsors for Charitable Heroes right from the begginging. These organizations include Localstake, Wormser Legal and the Pour House Cafe. We invite you to click the link on each name to learn more about them.</p>
        </details>
      </li>

      <li class=''>
        <details class=''>
          <summary class=''>Who are the advisors?</summary>
          <p>It's true. We are on the hunt for people who are willing to share their experience and expertise for 2014. If you're interested, please reach out to mike@charitableheroes.org. Thanks!</p>
        </details>
      </li>

      <li class=''>
        <details class=''>
          <summary class=''>Who are we?</summary>
          <p>Charitable Heroes, L3C is a <a href="http://en.wikipedia.org/wiki/Social_enterprise">social enterprise</a> based in Indianapolis. We're registered in the great state of Wyoming as a <a href="http://en.wikipedia.org/wiki/L3C">Low-Profit, Limited Liability Company (L3C)</a>.</p>
        </details>
      </li>

      <li class=''>
        <details class=''>
          <summary class=''>What is our mission?</summary>
          <p>&#8226 Educate competition entrants with a deeper knowledge of what matters to them and how they can help.</p>
          <p>&#8226 Empower one person with life-long financial power. </p>
          <p>&#8226 Expand how we evaluate philanthropy. </p>
        </details>
      </li>

      <li class=''>
        <details class=''>
          <summary class=''>How do you educate entrants?</summary>
          <p>&The three rounds of our competition entrants. For the winner, they receive a life-long educational experience. We endeavor to help one person plan, do, evaluate and act on a year-by-year basis. Building a partnership with our winner and supporting their impact plan is most important part of our long-term mission. </p>
         </details>
      </li>
      
    </ul>
  </div>
</div>
