<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li>
        <details>
          <summary>What is the competition?</summary>
          <p>Charitable Heroes is a three-round competition. Each round of the competition requires the candidate to explore and communicate what they care about, why they care and how they plan to make a difference if empowered financially.</p>
        </details>
      </li>
     
      <li>
        <details>
          <summary>How does it Work?</summary>
            <p>Charitable Heroes, L3C is committed to empowering our competition winner by helping them donate $300 to a cause of their choice every year for life.</p>
            
            <p>Each round of the competition requires the candidate to explore and communicate the who, what, where, when, why and how behind the cause they want to help.</p>
          
            <p>The selection process occurs throughout the course of the competition over three rounds. During each round our team of judges evaluate all submissions. Candidates are eliminated after each round and one winner is chosen.</p>
        </details>
      </li>

      <li>
        <details>
          <summary>How are registration fees used?</summary>
           <p>The primary use of a registration fee is to our cover operating expenses. Secondarily, registration fees are used to build the Charitable SuperPowers Endowment. The purpose of this endowment fund is to grow and support the annual donation Charitable Heroes, L3C makes on behalf of our competition winner.

           <p>Charitable Heroes, L3C maintains our site and provides an educational experience via the competition in exchange for the registration fee. Registration fees are not donations. Charitable Heroes, L3C is not a non-profit and your registration fee is NOT tax deductible.</p>
          
          </details>
      </li>
      <li>
        <details>
          <summary>What does each round look like?</summary>
          <h5>Round One</h5>
          <p>When it's time for round one, we will notify everyone via email to upload a two minute video. We will ask the participant to tell us who you are, where you're from, and mention the cause you will focus on for the competition.</p>
          <p>The Charitable Heroes Founders and Judges will individually review every video submitted.</p>
          <br/>
          <h5>Round Two</h5>
          <p>This round requires a deep dive into the cause, organization or person you desire to help. When it's time for round two, we will email a link to an online form with ten (10) questions. Our judges will invidividually review all submissions and score individauls. A maximum of 100 entrants will move onto round three.</p>
          <br/>
          <h5>Round Three</h5>
          <p>The final round will consists of interviews with our judges. Only one winner will be chosen to receive charitable superpowers.</p>
        </details>
      </li>
      <li>
        <details>
          <summary>What do I get if I win?</summary>
          <h5>Your Future Superpowers</h5>
          <p>The winner can direct Charitable Heroes, L3C to donate $300 to a cause of their choice each year. You'll become a life-long philanthropist! Pitch us your cause carefully, the competition for this superpower will be tough. </p>
        </details>
      </li>
      <li>
        <details>
          <summary>What makes your approach to philanthropy different?</summary>
          
          <p>Our winner can provide financial support (via gift, investment or purchase) to almost any entity type (public, private or hybrid). This is different from the traditional philanthropist using a donor advised fund. Often, a young  adult may look to start a donor advised fund but this limits how they can provide support. Today's challenges are often complicated and require a philanthropic approach which is more open-minded and unencumbered.</p>
          
          <p>We like to think of our winner as a Charitable Hero because they will be different than other mere philanthropists - unencumbered by bureacracy or financial burden.</p>
        </details>
      </li>
      <li>
        <details>
          <summary>What happens if the $5,000 goal isn't met?</summary>
          <p>The competition will be cancelled if we get fewer than 50 people to register. In that case, your registration fee will be refunded minus the PayPal transaction fee.</p>
          <p>The amount of funds raised does not change the minimum prize for the one winner, which is their ability to direct where Charitable Heroes, L3C donates $300 every year for life. </p>
        </details>
      </li>

    </ul>
    <ul class='col2'>
      <li>
        <details>
          <summary>Who are the judges?</summary>
          <p>We have secured six judges to date. More information about each one is coming soon. If you are interested in becoming a judge please email info@charitableheroes.org.</p>
        </details>
      </li>
      <li>
        <details>
          <summary>Who are the founders?</summary>
          <p>The founders of the Charitable Heroes Competition are Mike Hurley and Mark Spiegel.</p>
        </details>
      </li>
      <li>
        <details>
          <summary>Who are the sponsors?</summary>
          <p>We have been fortunate to have sponsors for Charitable Heroes right from the begginging. These organizations include <a href="https://localstake.com/">Localstake</a>, <a href="http://www.wormserlegal.com/">Wormser Legal</a>. We invite you to click the link on each name to learn more about them.</p>
        </details>
      </li>
     
      <li>
        <details>
          <summary>Who are we?</summary>
          <p>Charitable Heroes, L3C is a <a href="http://en.wikipedia.org/wiki/Social_enterprise">social enterprise</a> based in Indianapolis. We're registered in the great state of Wyoming as a <a href="http://en.wikipedia.org/wiki/L3C">Low-Profit, Limited Liability Company (L3C)</a>.</p>
        </details>
      </li>
      <li>
        <details>
          <summary>What is our mission?</summary>
          <ul>
            <li>Educate competition entrants with a deeper knowledge of what matters to them and how they can help.</li>
            <li>Empower one person with life-long power to donate to a cause(s) of their choice.</li>
            <li>Expand the public discourse about philanthropy.</li>
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>How do you educate entrants?</summary>
          <p>Each of the three rounds of the competition include an educational activity. Round one requires the entrant to introduce themselves via a video submission where they must first mention their chosen cause. This is designed to be an ice-breaker but forces the participant to make a decision to focus on one cause.</p>

          <p>Round two requires the participant to answer ten (10) in-depth questions regarding the who, what, when, where and why about their chosen cause. Similar to competing in a business plan competition, we push our participants to research and articulate how they want help their cause.</p>

          <p>Round three is an interview with our judges where we ask tailored questions. The interview process requires the participant to answer new questions and consider feedback from our judges and founders.</p>

          <p>One winner receives a life-long educational experience. Charitable Heroes will annually work with the winner to update an impact plan and support them.</p>

        </details>
      </li>
      <li>
        <details>
          <summary>How do I contact support?</summary>
          <p>Please email info@charitableheroes.org and we will do our best to respond within 24 hours on Monday - Friday.</p>
         </details>
      </li>

      <li>
        <details>
          <summary>What is an L3C?</summary>
          <ul>
            <li>A type of LLC, the L3C (Low-Profit Limited Liability Company), is able to bring together a mix of foundations, trusts, DAFs, endowments, pension plans, individuals, corporations, nonprofits, governmental entities and others in order to achieve social objectives while operating according to for-profit metrics. Just like any LLC, an L3C has the liability protection of a corporation and the flexibility of a partnership.</li>
          </ul>
        </details>
      </li>

      <li>
        <details>
          <summary>Why did you use L3C?</summary>
          <ul>
            <li>In general, the time and expense to become a 501(C)(3) was not appealing and most likely would have become prohibitive.</li>
            <li>We believe bureacarcy is bad for doing philanthropy, and operating a business.</li>
            <li>Our understanding of the L3C, is that it was intended to strike the balance between novel concepts in the nonprofit space and traditional notions of business. We are trying to strike a balance between private ownership, profitability and our charitable mission.</li>
            <li>As an L3C, our managers have a fiduciary responsibility to think of our mission first. We desired our mission to be the primary driver of strategy and actions at critical moments when a decision needs to be made.</li>
          </ul>
        </details>
      </li>

    </ul>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://charitableheroes.us6.list-manage.com/subscribe/post?u=464158cf03cb93cf86f96e0e2&amp;id=2a43d263e5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <h2>Sign-Up for Charitable Heroes News</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_464158cf03cb93cf86f96e0e2_2a43d263e5" value=""></div>
  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>
<!--End mc_embed_signup-->
    </div>
  </div>
</div>
