<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
      What is Charitable Heroes?
      </h3>
      <p>
      It's a three-round competition which requires participants to pitch a charitable cause they want to help. It's similar to a business plan pitch competition, but for charitable causes! Each round pushes the participants to understand and communicate more information about their cause. 
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy right">
      <h3>
        As Seen In
      </h3>
      <p>
        <img src="http://www.gannett-cdn.com/sites/indystar/images/footer-logo@2x.png" alt="Indianapolis Star">
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        Sponsors
      </h3>
      <p> 
        <img src="http://m.c.lnkd.licdn.com/media/p/4/000/13c/2af/391f54d.png">
      <p>
      <p>
        <img src="https://localstake.com/assets/logo_280_x_60-0c41c1746899b7bec038ffb0fd873dc8.png">
      <p>
    </div>
  </div>
</div>


<!-- <div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        It's just a skeleton
      </h3>
      <p>
        We've kept Selfstarter really simple, but that also means that you should beef it up with your own authentication, administration and product management code.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Let's get started
      </h3>
      <p>
        Most of what you need to get started is in the Readme. Selfstarter is based on Ruby on Rails, and we've tried to break up all of the different parts in a sensible fashion.
      <p>
    </div>
  </div>
</div> -->
