<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        The Hero's Concept
      </h3>
      <p>
        Charitable Heroes is a three-round competition. Pay $30 now, pitch your cause to us, one winner will receive a minimum of $300 each year for the rest of their life to support a cause of their choice. 
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        Strength in Numbers
      </h3>
      <p>
        Charitable Heroes is a passion project aimed at changing the world with your help by educating, empowering, and inspiring others. We hope and dream that together we can make the difference.
      <p>
      <br />
      <p>
        "A hero is an action. Not a title"
      </p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        As Seen In
      </h3>
      <p>
        <img src="http://www.gannett-cdn.com/sites/indystar/images/footer-logo@2x.png" alt="Indianapolis Star">
      <p>
    </div>
  </div>
</div>



<!-- <div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        It's just a skeleton
      </h3>
      <p>
        We've kept Selfstarter really simple, but that also means that you should beef it up with your own authentication, administration and product management code.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Let's get started
      </h3>
      <p>
        Most of what you need to get started is in the Readme. Selfstarter is based on Ruby on Rails, and we've tried to break up all of the different parts in a sensible fashion.
      <p>
    </div>
  </div>
</div> -->
