<div class="big_wrapper">
  <div class="wrapper center" id="middle_reserve">
    <h2><%= Settings.ships %></h2>
    <a href="/preorder/checkout" class="red_button reserve"><%= Settings.middle_reserve_text %></a>
    <div class="social-group">
      <a class="tweet-button" href="https://twitter.com/share?url=http%3A%2F%2Fwww.charitableheroes.org&text=I+just+signed+up+to+be+a+charitable+hero&hashtags=charitableheroes" >
        <i class="fa fa-twitter"></i>
      </a>
      <a class="facebook-button" href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.charitableheroes.org/">
        <i class="fa fa-facebook"></i>
      </a>
    </div>
  </div>
</div>
