<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>Entry Criteria</h4>
      <p>&#8226 Can be any age</p>
      <p>&#8226 Under 18 needs guardian consent</p>
    </li>
    <li id="section-2">
      <h4>Selection Process</h4>
      <p>&#8226 Occurs through three rounds</p>
      <p>&#8226 Candidates will submit ideas</p>
      <p>&#8226 Scoring happens each round</p>
      <p>&#8226 Candidates chosen to advance based on judges' scores</p>
    </li>
    <li id="section-3">
      <h4>3-Round Competition</h4>
      <p>&#8226 Round 1: Submit a video about yourself</p>
      <p>&#8226 Round 2: Answer questions to explore what you care about</p>
      <p>&#8226 Round 3: Interview with our panel of judges</p>
    </li>
    <li id="section-4">
      <h4>Our Charitable Hero</h4>
      <p>&#8226The winner gives away $300 every year for the rest of their lives</p>
    </li>
  </ul>
</div>
