<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>Entry Criteria</h4>
      <ul>
        <li>Can be any age</li>
        <li>Under 18 needs guardian consent</li>
      </ul>
    </li>
    <li id="section-2">
      <h4>Selection Process</h4>
      <ul>
        <li>Occurs through three rounds</li>
        <li>Candidates will submit their causes</li>
        <li>Scoring happens each round</li>
        <li>Candidates chosen to advance based on judges' scores</li>
      </ul>
    </li>
    <li id="section-3">
      <h4>3-Round Competition</h4>
      <ul>
        <li>Round 1: Submit a video about yourself</li>
        <li>Round 2: Answer questions to explore what you care about</li>
        <li>Round 3: Interview with judges</li>
      </ul>
    </li>
    <li id="section-4">
      <h4>When does the competition happen?</h4>
      <ul>
        <li>Registration closes on April 30, 2014. Round One</li> 
        <li>Round 1: Starts May 1st, 2014. Winners notified by June 30th, 2014. </li>
        <li>Round 2: Starts July 1st, 2014. Winners notified by August 31st, 2014</li>
        <li>Round 3: Starts September 1st, 2014. Winners notified by October 31st, 2014</li>
      </yl>
    </li>
  </ul>
</div>
