<div class="sidebar">
  <h5>PLEASE NOTE!</h5>
   <p>PayPal will charge your credit card. If you have questions, please email us at info@charitableheroes.org.</p> 

   <p>By registering for the competition you are agreeing to our Terms and Conditions.</p>   
  </p>
</div>