<div class="sidebar">
  <h5>I have questions about payments!</h5>
  <p>
    PayPal will charge your credit card. However, if you have questions about payments that you believe Charitable Heroes should help with please contact mike@charitableheroes.org. Thank you. 
  </p>
</div>