<div class="footer">
  <div class="wrapper clearfix">
    <ul>
      <!-- <li>
        <a href="/helpandfaqs">Help & FAQs</a>
      </li>
      <li>
        <a href="/pressandmedia">Press & Media</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li> -->
      <li>
        <%= link_to "Privacy Policy", asset_path("privacy-statement.pdf"), :class => "links" %>
      </li>
      <li>
          <%= link_to "Terms and Conditions", asset_path("terms-conditions.pdf"), :class => "links" %>
      </li>
      <li>
   <p>© Charitable Heroes, L3C. All rights reserved.</p>
  </li>
    </ul>
  </div>
</div>
