<div class="footer">
  <div class="wrapper clearfix">
    <ul>
      <!-- <li><a href="/helpandfaqs">Help & FAQs</a></li>
      <li><a href="/pressandmedia">Press & Media</a></li>
      <li><a href="/blog">Blog</a></li> -->
      <li><%= link_to "Privacy Policy", asset_path("privacy-statement.pdf"), :class => "links" %></li>
      <li><%= link_to "Terms and Conditions", asset_path("terms-conditions.pdf"), :class => "links" %></li>
      <li><!-- Begin Official PayPal Seal --><a href="https://www.paypal.com/us/verified/pal=mike%40charitableheroes%2eorg" target="_blank"><FONT size="2" face="verdana, arial, helvetica"><B>I'm PayPal Verified</B></FONT></A><!-- End Official PayPal Seal --></li>
    </ul>
    <p>&#169; Charitable Heroes, L3C. All rights reserved.</p>
  </div>
</div>
