<div class="footer">
  <div class="wrapper clearfix">
    <ul>
      <li>
        <a href="/helpandfaqs">Help & FAQs</a>
      </li>
      <li>
        <a href="/pressandmedia">Press & Media</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/privacypolicy">Privacy Policy</a>
      </li>
      <li>
          <a href="/termsofservice">Terms of Service</a>
      </li>
    </ul>
    <p>© Charitable Heroes, L3C. All rights reserved.</p>
  </div>
</div>