<div class="footer">
  <div class="wrapper clearfix">
    <%= render 'preorder/copyright' %>
  </div>
  <div class="social-group">
    <a href="https://twitter.com/share?url=http%3A%2F%2Fwww.charitableheroes.org&text=I+just+signed+up+to+be+a+charitable+hero&hashtags=charitableheroes" >
      <i class="fa fa-twitter"></i>
    </a>
    <a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.charitableheroes.org/">
      <i class="fa fa-facebook"></i>
    </a>
  </div>
</div>
<%= render 'preorder/google_analytics' %>
